@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.appearAnimation {
  animation: appear .5s ease-out forwards 1 running;
}

.appearAnimationDelay {
  animation: appear .5s .4s ease-out forwards 1 running;
}

.disappearAnimation {
  animation: disappear .3s ease-in forwards 1 running;
}
