.page {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 104px;
  box-sizing: border-box;
}

.section-title {
  font-family: 'RobotoSlab', Arial, sans-serif;
  font-size: 40px;
  line-height: 1.15;
  font-weight: 400;
  margin: 0;
}

.form-button {
  font-family: 'Roboto', Arial, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 1.33;
  background-color: #2f71e5;
  border: none;
  border-radius: 32px;
  transition: background-color .2s ease-in-out,
              box-shadow .2s ease-in-out;
}

.form-button:hover {
  cursor: url('../../images/ponter.svg'), default;
  background-color: #347eff;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
}

.form-button:active, .form-button:focus {
  outline: none;
  background-color: #2a65cc;
}

.svg__path {
  transition: all 0.3s ease-in-out;
}

@media (max-width: 1279px) {
  .section {
    padding: 0 80px;
  }
}

@media (max-width: 1023px) {
  .section-title {
    font-size: 30px;
  }

  .section {
    padding: 0 40px;
  }
}

@media (max-width: 680px) {
  .section {
    padding: 0 16px;
  }
}
