.backgrount-container {
  margin: 0 auto;
  background-image: url('../../images/main-theme.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}
