.about {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
}

.about__image {
  width: 464px;
  height: 464px;
  border-radius: 50%;
}

.about__info-container {
  padding-top: 51px;
  padding-left: 56px;
}

.about__text {
  font-family: 'Roboto', Arial,sans-serif;
  font-size: 18px;
  line-height: 1.33;
  margin: 24px 0 0 0;
  max-width: 600px;
}

@media (max-width: 1023px) {

  .about {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .about__info-container {
    padding-top: 0;
    padding-left: 11px;
  }

  .about__image {
    padding: 21px;
    width: 232px;
    height: 232px;
  }
}



@media (max-width: 480px) {
  .about {
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .about__title {
    margin-top: 24px;
  }

  .about__image {
    padding: 0;
    width: 272px;
    height: 272px;
    margin: 0 auto;
  }

  .about__info-container {
    padding-left: 0;
  }
}