.about {
  padding: 80px 0;
  display: flex;
}

.about__image {
  width: 464px;
  height: 464px;
  border-radius: 50%;
}

.about__info-container {
  padding-top: 51px;
  padding-left: 56px;
}

.about__title {
  font-family: 'RobotoSlab', Arial, sans-serif;
  font-size: 40px;
  line-height: 1.15;
  font-weight: 400;
  margin: 0 0 24px 0;
}

.about__text {
  font-family: 'Roboto', Arial,sans-serif;
  font-size: 18px;
  line-height: 1.33;
  margin: 0;
  max-width: 600px;
}