.navigation__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigation__link {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  line-height: 1.33;
  margin-left: 34px;
  text-align: center;
  min-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  color: #fff;
  text-decoration: none;
}

.navigation__link:hover {
  cursor: url('../../images/ponter.svg'), default;
}

.navigation__link_active::after {
  content: '';
  border-bottom: 3px solid #fff;
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: -28px;
  left: 0;
}

.navigation__button {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  color: inherit;
  line-height: 1.33;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 12px 18px;
  border-radius: 24px;
  min-height: auto;
  margin-left: 32px;
  transition: border-color .3s ease-in-out;
  background-color: transparent;
  display: flex;
}

.navigation__button:hover {
  cursor: url('../../images/ponter.svg'), default;
  border: 1px solid #fff;
}

.navigation__button:focus {
  outline: none;
}

.navigation__button-icon {
  margin-left: 10px;
}

.saved-news-theme {
  color: #1a1b22;
  border-color: #d1d2d6;
}

.saved-news-theme_hover:hover {
  border-color: #1a1b22;
}

.saved-news-theme::after {
  border-bottom: 3px solid #1a1b22;
}

@media (max-width: 1023px) {
  .navigation__link {
    font-size: 16px;
    margin-left: 16px;
  }

  .navigation__button {
    font-size: 16px;
    margin-left: 16px;
  }

  .navigation__link_active::after {
    bottom: -22px;
  }
}

@media (max-width: 680px) {
  .navigation__link {
    font-size: 12px;
    margin-left: 12px;
  }

  .navigation__button {
    font-size: 12px;
    margin-left: 12px;
    padding: 10px 12px;
  }

}

@media (max-width: 480px) {
  .navigation__container {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 16px;
  }

  .navigation__link {
    font-size: 18px;
    margin-left: 0;
    padding: 16px 0;
    color: inherit;
  }

  .navigation__button {
    font-size: 18px;
    margin-top: 22px;
    margin-left: 0;
    padding: 15px 18px 17px 15px;
    border-radius: 32px;
    color: inherit;
    align-self: center;
    width: 100%;
  }

  .navigation__link_active::after {
    content: none;
  }
}
