.searchform {
  color: #fff;
  margin: 0 auto;
  /* width: 42%; */
  max-width: 608px;
  padding: 80px 0;
  position: relative;
  z-index: 1;
}

.searchform__header {
  font-family: 'RobotoSlab', Arial, sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 1.07;
  margin: 0 0 32px 0;
}

.searchform__text {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  line-height: 1.33;
  padding-right: 63px;
  margin: 0 0 64px 0;
}

.searchform__form {
  background-color: #fff;
  height: 64px;
  border-radius: 32px;
  display: flex;
  justify-content: space-between;
}

.searchform__input {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.375;
  border-radius: 32px;
  width: 440px;
  padding: 0 24px;
  border: none;
}

.searchform__input::-webkit-input-placeholder {
  color: #b6bcbf;
}
.searchform__input:-ms-input-placeholder {
  color: #b6bcbf;
}
.searchform__input::-moz-placeholder {
  color: #b6bcbf;
  opacity: 1;
}
.searchform__input:-moz-placeholder { 
  color: #b6bcbf;
  opacity: 1;
}

.searchform__input:active, .searchform__input:focus {
  outline: none;
}

.searchform__submit-button {
  min-width: 168px;
  transform: translateX(1px);
}

@media (max-width: 1023px) {
  
  .searchform {
    max-width: 448px;
    padding: 38px 0 48px 0;
  }

  .searchform__header {
    font-size: 36px;
    line-height: 1.11;
    margin-bottom: 16px;
    max-width: 385px;
  }

  .searchform__text {
    padding-right: 0;
    margin: 0 0 48px 0;
  }

  .searchform__form {
    height: 56px;
  }
}

@media (max-width: 480px) {
  .searchform {
    padding: 30px 16px 32px 16px;
  }

  .searchform__text {
    margin-bottom: 122px;
  }
  
  .searchform__form {
    background-color: transparent;
    height: 64px;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .searchform__input {
    width: 100%;
    padding: 17px 14px;
    border: none;
    box-sizing: border-box;
  }

  .searchform__submit-button {
    width: 100%;
    padding: 15px 0 17px 0;
    margin-top: 16px;
    /* position: relative; */
  }

}