@keyframes spin {
  from {
    transform: rotate(0);
  }
  to{
    transform: rotate(359deg);
  }
}

.circle-preloader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.circle-preloader__border {
  width: 74px;
  height: 74px;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgb(209, 210, 214);
  background: linear-gradient(0deg, rgba(26, 27, 34, 1) 0%, rgba(245, 246, 247, 1) 90%);
  animation: spin .8s linear 0s infinite;
}

.circle-preloader__core {
  width: 100%;
  height: 100%;
  background-color: #f1f2f3;
  border-radius: 50%;
}

.circle-preloader__text {
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 18px;
	line-height: 1.33;
	width: fit-content;
	margin: 24px auto 0 auto;
	color: #b6bcbf;
}
