.header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  position: relative;
  z-index: 3;
  transition: background-color .2s ease-in-out;
}

.header__title {
  font-family: 'RobotoSlab', Arial, sans-serif;
  font-size: 20px;
  line-height: 1.2;
}

.header__navigation-container {
  min-width: 100px;
  width: fit-content;
}



.header__navigation-extend-button {
  width: 24px;
  height: 24px;
  background-image: url('../../images/menu.svg');
}

.header__navigation-extend-button_open {
  background-image: url('../../images/close.svg');
}

.header__extend-background {
  background-color: rgb(0, 0, 0);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  visibility: hidden;
  transition: opacity .3s ease-in-out;
}

.header__extend-background_active {
  z-index: 2;
  visibility: visible;
  opacity: .5;
}

@media (max-width: 1023px) {
  .header {
    min-height: 66px;
  }
}

@media (max-width: 680px) {

  .header__title {
    font-size: 16px;
  }
}

@media (max-width: 480px) {

  .header {
    min-height: 56px;
  }


  .header_extend {
    background-color: #1a1b22;
  }

  .header__navigation-container {
    position: absolute;
    left: 0;
    top: 0;
    height: 230px;
    padding: 16px 0 24px 0;
    width: 100%;
    z-index: -1;
    transform: translate(0, -174px);
    transition: height .5s ease-in-out, 
                transform .5s ease-in-out, 
                background-color .5s ease-in-out, 
                opacity .5s ease-in-out,
                visibility .5s ease-in-out;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    background-color: transparent;
    
  }

  .header__navigation-container_mobile-open {
    transform: translate(0, 56px);
    background-color: #1a1b22;
    opacity: 1;
    visibility: visible;
  }
}