.newscardlist {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-column-gap: 16px;
  width: 100%;
  justify-content: center;
}


@media (max-width: 1439px) {
  .newscardlist {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1023px) {
  .newscardlist {
    grid-column-gap: 8px;
  }
}

@media (max-width: 767px) {
  .newscardlist {
    grid-template-columns: repeat(auto-fit, 288px);
  }
}

@media (max-width: 480px) {
  .newscardlist {
    grid-column-gap: 10px;
  }
}
